# Auto detect text files and perform LF normalization
* text=auto

# Force shell scripts to always use LF line endings
*.sh text eol=lf
docker-entrypoint.sh text eol=lf

# Force batch/powershell scripts to use CRLF
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
